<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap&family=Playwrite+MX:wght@100..400&display=swap"
      rel="stylesheet"
    />
    <title>Uh oh! Your Payment Didn't Go Through</title>
    <style>
      body {
        width: 100% !important;
        margin: 0;
        padding: 0;
        font-family: "Noto Sans", "Segoe UI", Arial, sans-serif !important;
        background-color: #0f0e10;
        color: #e8f6fe !important;
        transition: all 0.3s ease-in-out;
      }
      h1,
      h2,
      h3 {
        text-transform: uppercase !important;
        letter-spacing: 0.5pt;
        font-weight: 500 !important;
        font-family: "Squada One", "Segoe UI", Arial, sans-serif;
      }
      p,
      span, li {
        color: #e8f6fe !important;
      }
      a {
        color: #34aaf3 !important;
        font-weight: 500 !important;
        text-decoration: none;
        transition: all 0.3s ease-out;
      }
      a:hover {
        color: #e4457b !important;
        text-decoration: underline;
      }
      a:visited {
        color: #fcb614 !important;
      }
      .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        background-color: #19181a !important;
        padding: 20px;
        box-sizing: border-box;
      }
      .header {
        text-align: center;
        padding: 10px 0;
      }
      .header img {
        max-width: 100px;
        height: auto;
      }
      .main-content {
        text-align: center;
        padding: 20px;
      }
      .main-content h3 {
        color: #34aaf3 !important;
        font-size: 32px !important;
      }
      .main-content p {
        font-size: 14px !important;
        line-height: 1.5 !important;
      }
      li {
        font-size: 14px !important;
        line-height: 1.5 !important;
        margin-bottom: 12px;
      }
      li:last-child {
        margin-bottom: 0;
      }
      .btn {
        display: inline-block;
        padding: 15px 25px;
        margin: 20px 0;
        background-color: #34aaf3;
        color: #000000 !important;
        text-decoration: none;
        font-weight: 600;
        border-radius: 999px !important;
        font-size: 16px;
      }
      .btn:hover {
        background-color: #e4457b;
        color: #fceaf0;
      }
      blockquote {
        display: block;
        padding: 15px;
        background-color: rgba(100, 109, 114, 0.1);
        color: #e2e6ea !important;
        border-radius: 999px !important;
        margin: 20px 0;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      .footer {
        text-align: center;
        padding: 20px;
        border-radius: 4px !important;
        background-color: #0f0e10;
      }
      .footer a {
        color: #34aaf3 !important;
        text-decoration: none;
      }
      .footer a:hover {
        color: #e4457b !important;
        text-decoration: underline;
      }
      .footer a:visited {
        color: #ffb300 !important;
      }
      .social-icons {
        padding: 20px;
      }
      .social-icons img {
        width: 32px;
        height: 32px;
        margin: 0 10px;
      }
      .bbm-team {
        color: #e1306c !important; 
        font-weight: 600 !important;
      }
      .sign {
        font-family: "Playwrite MX", cursive !important;
      }
      @media (prefers-color-scheme: light) {
        body {
          background-color: #fff !important;
          color: #062030 !important;
        }
        p,
        span, li {
          color: #062030 !important;
        }
        .container {
          background-color: rgba(241, 250, 254, 1) !important;
        }
        .main-content h3 {
          color: #007bff !important;
        }
        .btn {
          background-color: #007bff !important;
          color: #ffffff !important;
        }
        .btn:hover {
          color: #fceaf0 !important;
          background-color: #e1306c !important;
          text-decoration: none !important;
        }
        blockquote {
          background-color: rgba(29, 161, 242, 0.1) !important;
          color: #062030 !important;
        }
        a {
          color: #007bff !important;
        }
        a:hover {
          color: #e1306c !important;
          text-decoration: underline;
        }
        .footer {
          background-color: rgba(29, 161, 242, 0.1) !important;
        }
        .footer a {
          color: #007bff !important;
        }
        .footer a:hover {
          color: #e1306c !important;
          text-decoration: underline;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/bullbearmastery.appspot.com/o/Assets%2Ftemplates%2Fbbm-logo.png?alt=media&token=a2c5d6c7-1b13-4f94-8d4e-631e305aad23"
          alt="BRAND LOGO"
        />
      </div>

      <div class="main-content">
        <h3>We Couldn't Process Your Payment</h3>
        <p>Hi {{username}},</p>
        <p>
          We're reaching out regarding your recent attempt to enroll in the
          <b>{{ propFirmName }}</b> prop firm challenge
          <b>(account size: {{ accountSize }}, total cost: {{ totalCost }})</b>.
        </p>
        <p>
          Unfortunately, your payment for this challenge was not successful.
        </p>
        <p>
          We understand that unexpected delays can occur. We're here to help you
          get started on your funded account journey as soon as possible.
        </p>

        <p>
          <b
            >Once you retry and your payment is successful, you'll receive
            immediate access to your dashboard and valuable resources to
            dominate your challenge.</b
          >
        </p>
        <p>
          We look forward to welcoming you to the BullBear Mastery community!
        </p>
        <p class="bbm-team sign">The BBM Team</p>
      </div>

      <div class="footer">
        <p
          style="
            text-transform: uppercase;
            font-family: 'Squada One', 'Segoe UI', Arial, sans-serif;
            color: #007bff !important;
            letter-spacing: 0.3pt;
            font-size: 18px;
          "
        >
          Join Our Communities
        </p>
        <div class="social-icons">
          <a href="#" target="_blank"
            ><img
              src="https://firebasestorage.googleapis.com/v0/b/bullbearmastery.appspot.com/o/Assets%2Ficons%2Fdiscord.png?alt=media&token=27855001-07eb-4b3f-88ac-cdd4b25e154e"
              alt="Discord"
          /></a>
          <a href="#" target="_blank"
            ><img
              src="https://firebasestorage.googleapis.com/v0/b/bullbearmastery.appspot.com/o/Assets%2Ficons%2Finstagram.png?alt=media&token=fa7b882f-3701-4180-a4f0-eed7edd6cab8"
              alt="Instagram"
          /></a>
          <a href="#" target="_blank"
            ><img
              src="https://firebasestorage.googleapis.com/v0/b/bullbearmastery.appspot.com/o/Assets%2Ficons%2Fx.png?alt=media&token=90d72047-1f04-4868-b64a-fe4abd7b621f"
              alt="X"
          /></a>
        </div>
        <p style="font-size: 14px !important">
          Thank you for choosing BullBear Mastery.
        </p>
        <p style="font-size: 14px !important">
          Need help?
          <a href="https://bullbearmastery.com/contact-us" target="_blank"
            >Contact our customer support</a
          >
        </p>
        <p style="font-size: 14px !important">
          &copy; 2024 BullBear Mastery. All Rights Reserved
        </p>
      </div>
    </div>
  </body>
</html>
