<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap&family=Playwrite+MX:wght@100..400&display=swap"
      rel="stylesheet"
    />
    <title>Welcome to the BBM Family</title>
    <style>
      body {
        width: 100% !important;
        margin: 0;
        padding: 0;
        font-family: "Noto Sans", "Segoe UI", Arial, sans-serif !important;
        background-color: #0f0e10;
        color: #e8f6fe !important;
        transition: all 0.3s ease-in-out;
      }
      h1,
      h2,
      h3 {
        text-transform: uppercase !important;
        letter-spacing: 0.5pt;
        font-weight: 500 !important;
        font-family: "Squada One", "Segoe UI", Arial, sans-serif;
      }
      p,
      span, li {
        color: #e8f6fe !important;
      }
      a {
        color: #34aaf3 !important;
        font-weight: 500 !important;
        text-decoration: none;
        transition: all 0.3s ease-out;
      }
      a:hover {
        color: #e4457b !important;
        text-decoration: underline;
      }
      a:visited {
        color: #fcb614 !important;
      }
      .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        background-color: #19181a !important;
        padding: 20px;
        box-sizing: border-box;
      }
      .header {
        text-align: center;
        padding: 10px 0;
      }
      .header img {
        max-width: 100px;
        height: auto;
      }
      .main-content {
        text-align: center;
        padding: 20px;
      }
      .main-content h3 {
        color: #34aaf3 !important;
        font-size: 32px !important;
      }
      .main-content p {
        font-size: 14px !important;
        line-height: 1.5 !important;
      }
      li {
        font-size: 14px !important;
        line-height: 1.5 !important;
        margin-bottom: 12px;
      }
      li:last-child {
        margin-bottom: 0;
      }
      .btn {
        display: inline-block;
        padding: 15px 25px;
        margin: 20px 0;
        background-color: #34aaf3;
        color: #000000 !important;
        text-decoration: none;
        font-weight: 600;
        border-radius: 999px !important;
        font-size: 16px;
      }
      .btn:hover {
        background-color: #e4457b;
        color: #fceaf0;
      }
      blockquote {
        display: block;
        padding: 15px;
        background-color: rgba(100, 109, 114, 0.1);
        color: #e2e6ea !important;
        border-radius: 999px !important;
        margin: 20px 0;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      .footer {
        text-align: center;
        padding: 20px;
        border-radius: 4px !important;
        background-color: #0f0e10;
      }
      .footer a {
        color: #34aaf3 !important;
        text-decoration: none;
      }
      .footer a:hover {
        color: #e4457b !important;
        text-decoration: underline;
      }
      .footer a:visited {
        color: #ffb300 !important;
      }
      .social-icons {
        padding: 20px;
      }
      .social-icons img {
        width: 32px;
        height: 32px;
        margin: 0 10px;
      }
      .bbm-team {
        color: #e1306c !important; 
        font-weight: 600 !important;
      }
      .sign {
        font-family: "Playwrite MX", cursive !important;
      }
      @media (prefers-color-scheme: light) {
        body {
          background-color: #fff !important;
          color: #062030 !important;
        }
        p,
        span, li {
          color: #062030 !important;
        }
        .container {
          background-color: rgba(241, 250, 254, 1) !important;
        }
        .main-content h3 {
          color: #007bff !important;
        }
        .btn {
          background-color: #007bff !important;
          color: #ffffff !important;
        }
        .btn:hover {
          color: #fceaf0 !important;
          background-color: #e1306c !important;
          text-decoration: none !important;
        }
        blockquote {
          background-color: rgba(29, 161, 242, 0.1) !important;
          color: #062030 !important;
        }
        a {
          color: #007bff !important;
        }
        a:hover {
          color: #e1306c !important;
          text-decoration: underline;
        }
        .footer {
          background-color: rgba(29, 161, 242, 0.1) !important;
        }
        .footer a {
          color: #007bff !important;
        }
        .footer a:hover {
          color: #e1306c !important;
          text-decoration: underline;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/bullbearmastery.appspot.com/o/Assets%2Ftemplates%2Fbbm-logo.png?alt=media&token=a2c5d6c7-1b13-4f94-8d4e-631e305aad23"
          alt="BRAND LOGO"
        />
      </div>

      <div class="main-content">
        <h3>WELCOME TO THE BBM FAMILY</h3>
        <p>Hi {{username}},</p>
        <p>
          Get ready to trade smarter, not harder. We're thrilled to welcome you to the <span class="bbm-team">BBM Ace</span> community, a place built for forex traders like you who are ready to take control of their financial future.
        </p>
        <p>
          Congratulations on taking this bold step towards financial freedom! We know the challenges of prop trading – the pressure, the limitations. But with <span class="bbm-team">BBM Ace</span>, those days are behind you.
        </p>
        <p>
          Here's how we'll help you <b>fast-track your forex success</b> and <b>maximize your profits</b>:
        </p>
        <ul>
          <li><b>Effortless Challenge Completion: Pass your challenges quickly and efficiently</b> with our proven approach. We'll help you procure and complete 1-step challenges in <b>just a week</b>, and 2-step challenges in <b>two weeks</b>.</li>
          <li>Join our exclusive VIP Discord channel where we provide high-quality <b>trading signals</b> and insights. We're confident you can achieve consistent <b>monthly returns of 8%</b> on your account size.</li>
          <li><b>Managed Account Option: Too busy to trade yourself?</b>  Let our experienced team manage your prop account for you. While the payout will be 5% in this case, you'll still benefit from our expertise and avoid the time commitment.</li>
          <li><b>Advanced Trading Tools (Coming Soon):</b> We're constantly developing powerful tools to help you analyze the market more effectively and make informed trading decisions. Stay tuned for exciting upcoming releases!</li>
          <li><b>Extensive Learning Resources:</b> We're building a comprehensive library of educational resources to empower you as a trader. We'll notify you as soon as these valuable resources become available.</li>
        </ul>
        <p><b>Ready to embark on your journey to financial freedom?</b> Here are a few ways to get started:</p>
        <ul>
          <li><b>Expand your trading knowledge:</b> Join our forum community to connect with other traders, discuss strategies, and learn from each other's experiences. You'll find the forum link in the footer of this email.</li>
        </ul>
        <p>
          We're here to empower you every step of the way. If you have any questions, don't hesitate to reach out to our dedicated support team at
          <a
            href="mailto:support@bullbearmastery.com?subject=Request for Assistance from BBM Team&body=Hi Support Team,"
            >support@bullbearmastery.com</a
          >
          or browse our comprehensive 
          <a href="https://bullbearmastery.com/help-center" target="_blank"
            >help center</a
          >.
        </p>
        <p>Welcome aboard, and good luck on your trading journey!</p>

        <p class="sign">Sincerely,</p>
        <p
          class="bbm-team sign"
        >
          The BBM Team
        </p>
      </div>

      <div class="footer">
        <p
          style="
            text-transform: uppercase;
            font-family: 'Squada One', 'Segoe UI', Arial, sans-serif;
            color: #007bff !important;
            letter-spacing: 0.3pt;
            font-size: 18px;
          "
        >
          Join Our Communities
        </p>
        <div class="social-icons">
          <a href="#" target="_blank"
            ><img
              src="https://firebasestorage.googleapis.com/v0/b/bullbearmastery.appspot.com/o/Assets%2Ficons%2Fdiscord.png?alt=media&token=27855001-07eb-4b3f-88ac-cdd4b25e154e"
              alt="Discord"
          /></a>
          <a href="#" target="_blank"
            ><img
              src="https://firebasestorage.googleapis.com/v0/b/bullbearmastery.appspot.com/o/Assets%2Ficons%2Finstagram.png?alt=media&token=fa7b882f-3701-4180-a4f0-eed7edd6cab8"
              alt="Instagram"
          /></a>
          <a href="#" target="_blank"
            ><img
              src="https://firebasestorage.googleapis.com/v0/b/bullbearmastery.appspot.com/o/Assets%2Ficons%2Fx.png?alt=media&token=90d72047-1f04-4868-b64a-fe4abd7b621f"
              alt="X"
          /></a>
        </div>
        <p style="font-size: 14px !important">
          Thank you for choosing BullBear Mastery.
        </p>
        <p style="font-size: 14px !important">
          Need help?
          <a href="https://bullbearmastery.com/contact-us" target="_blank"
            >Contact our customer support</a
          >
        </p>
        <p style="font-size: 14px !important">
          &copy; 2024 BullBear Mastery. All Rights Reserved
        </p>
      </div>
    </div>
  </body>
</html>
